---
import { Icon } from "astro-iconify";
import BattleGroup from "../BattleGroup.astro";

const responce = [
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
    { kou: "0", otsu: "0" },
];
---
<div class="plus">
    <div class="kyogi">
        <div class="name text-16">
            ソフトボール
        </div>
        <div class="place">
            <Icon name="ph:map-pin-fill" class="placeIcon" />
            <p class="text-12">グラウンド(２コート)</p>
        </div>
    </div>
    <div class="table"> <!-- typeはlunch, battleに。startIdはstart0900-1540まで。endIdは0920-1600まで。kouとotsuはなくてもOk  -->
        <BattleGroup type="battle" startId="start1000" endId="end1040" kou={responce[0].kou} otsu={responce[0].otsu} />
        <BattleGroup type="battle" startId="start1040" endId="end1120" kou={responce[1].kou} otsu={responce[1].otsu} />
        <BattleGroup type="battle" startId="start1120" endId="end1200" kou={responce[2].kou} otsu={responce[2].otsu} />
        <BattleGroup type="lunch" startId="start1200" endId="end1300" endId="end1300" />
        <BattleGroup type="battle" startId="start1300" endId="end1340" kou={responce[3].kou} otsu={responce[3].otsu} />
        <BattleGroup type="battle" startId="start1340" endId="end1420" kou={responce[4].kou} otsu={responce[4].otsu} />
        <BattleGroup type="battle" startId="start1420" endId="end1500" kou={responce[5].kou} otsu={responce[5].otsu} />
        <BattleGroup type="battle" startId="start1500" endId="end1540" kou={responce[6].kou} otsu={responce[6].otsu} />
    </div>
</div>

<style>
    .plus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1910px;
        height: 60px;
    }
    .kyogi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        row-gap: 5px;
        width: 150px;
    }
    .place {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    .name {
        width: 100%;
    }
    .placeIcon {
        width: 16px;
        height: 16px;
        color: red;
    }
    .table {
        height: 100%;
        width: 1768px;
        align-items: center;
        display: grid;
        gap: 4px;
        grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px; /* 21 */
    }
</style>